@using AndersonExamModel;
@model TakenExam


<input type="hidden" name="TakenExamId" value="@Model.TakenExamId"/>

<div class="form-group">
    <label for="ExamId">Exam Id</label>
    <input type="number" class="form-control" id="ExamId" name="ExamId" placeholder="ExamId" value="@Model.ExamId">
</div>
<div class="form-group">
    <label for="ExamineeId">Examinee Id</label>
    <input type="number" class="form-control" id="ExamineeId" name="ExamineeId" placeholder="ExamineeId" value="@Model.ExamineeId">
</div>
<div class="form-group">
    <label for="TakenExamId">Taken Exam Id</label>
    <input type="number" class="form-control" id="TakenExamId" name="TakenExamId" placeholder="TakenExamId" value="@Model.TakenExamId">
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>

