/* Set padding to keep content from hitting the edges */

body {
    background-image: url("~/Content/Images/AndersonIQLogo.png");
    background-repeat: no-repeat;
    background-position: center;
}

