/* Set padding to keep content from hitting the edges */
.body-content {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:60px;
}

.clickableRow {
    cursor: pointer;
    
}

.row {
    padding-bottom: 20px;
}

.MessageAlignment{
    text-align: center;
}

textarea{
        resize:none;
    }

.footer {   
        width: 100%;
        color: black;
        text-align: center;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        }