/* Set padding to keep content from hitting the edges */
.body-content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.clickableRow {
    cursor: pointer
}

.row {
    padding-bottom: 20px;
}