@using AndersonExamModel;
@model Position

@{
    ViewBag.Title = "Create";
}

<h2>Create Position</h2>
<div class="row">
    <div class="col-sm-12">
        <form action="~/Position/Create" method="post">
            @{
                Html.RenderPartial("_Position", Model);
            }
        </form>
    </div>
</div>