
@{
    ViewBag.Title = "Index";
}
<h2>List Of Position</h2>
<div ng-controller="PositionController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Position/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>Position ID</th>
                        <th>Position Name</th>    
                        <th>Position Description</th>                  
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="position in model.Position" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(position.PositionId)">
                        <td><span ng-bind="position.PositionId"></span></td>
                        <td><span ng-bind="position.PositionName"></span></td>
                        <td><span ng-bind="position.Description"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(position.PositionId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(position)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>