@using AndersonExamModel;
@model Position

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="row">
    <div class="col-sm-12">
        <form action="~/Position/Update" method="post">
            @{
                Html.RenderPartial("_Position", Model); 
            }
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Exam Lists</div>
    <div class="panel-body">
        <div ng-controller="PositionController as model" ng-init="model.Initialise(@Model.PositionId)">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover table-sm table-bordered ">
                        <thead>
                            <tr class="thead-inverse">
                                <th>Exam Id</th>
                                <th>Time Limit(Sec.)</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="examPosition in model.ExamPositions" ng-init="model.ReadExamPosition()">
                            <tr >
                                <td><span ng-bind="examPosition.ExamId"></span></td>
                                <td><span ng-bind="examPosition.Exam.TimeLimit"></span></td>
                                <td><span ng-bind="examPosition.Exam.Name"></span></td>
                                <td><span ng-bind="examPosition.Exam.Description"></span></td>
                                <td><button ng-click="model.DeleteExamPosition(examPosition)" class ="btn btn-danger btn-md">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-offset-3 col-sm-6">
                    <div>
                        <label>Add Exams</label>
                        <ui-select multiple ng-model="model.MultipleSelected">
                            <ui-select-match placeholder="Select Exam...">
                                {{$item.PositionId}} - {{$item.PositionName}}
                            </ui-select-match>
                            <ui-select-choices repeat="position in (model.Position | filter: $selected.search) track by $index"> 
                                <span ng-bind="position.PositionName"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                        <form>
                            <input type="submit" value="Add" ng-click="model.Create(examPosition)"/>
                        </form> 
                </div>

            </div>
        </div>
    </div>
</div>