@{
    ViewBag.Title = "About";
}

<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/michael-angelo-castro-0030ab14a/">
                    Michael Angelo G. Castro
                </a>
                <br />
                <span class="badge">August-2017 - November-2017</span>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-08-15">
                August 15 2017
                <ul id="2017-08-15" class="collapse">
                    <li>
                        Refactor the AndersonExam
                    </li>
                    <li>
                        Working on Exam module
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-09-28">
                September 28 2017
                <ul id="2017-09-28" class="collapse">
                    <li>
                        Finished the Exam Model
                    </li>
                    <li>
                        Working on Postion Module
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-12">
                October 12 2017
                <ul id="2017-10-12" class="collapse">
                    <li>
                        Finsihed the Position Module
                    </li>
                    <li>
                        Working on Examinee Module
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-26">
                October 26 2017
                <ul id="2017-10-26" class="collapse">
                    <li>Created About page</li>
                    <li>Fixed place holders</li>
                    <li>Removed old Accounts (source code not removed)</li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-25">
                October 25 2017
                <ul id="2017-10-25" class="collapse">
                    <li>Refactored Code</li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-12">
                October 12 2017
                <ul id="2017-10-12" class="collapse">
                    <li>Finished the Position Module</li>
                    <li>Working on Examinee Module</li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-09-28">
                September 28 2017
                <ul id="2017-09-28" class="collapse">
                    <li>Finished the Exam Model</li>
                    <li>Working on Postion Module</li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-08-15">
                August 15 2017
                <ul id="2017-08-15" class="collapse">
                    <li>Refactor the AndersonExam</li>
                    <li>Working on Exam Module</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/cerck-zeus-cailipan-5ab840143">
                    Cerck Zeus Cailipan
                </a>
                <br />
                <span class="badge">2017-02 - 2017-05</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Julianne Mercado
                <br />
                <span class="badge">2017-05 - 2017-07</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Angela Dulay
                <br />
                <span class="badge">2017-05 - 2017-06</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Demelyn Macalinao
                <br />
                <span class="badge">2017-07 - 2017-10</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/michael-angelo-castro-0030ab14a/">
                    Michael Angelo G. Castro
                </a>
                <br />
                <span class="badge">2017-08 - 2017-11</span>
            </li>
        </ul>
    </div>
</div>