@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr><th>Developed By</th></tr>
            </thead>
            <tbody>
                <tr class="thead-inverse">
                    <td>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/michael-angelo-castro-0030ab14a/">Michael Angelo G. Castro</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#August">
                                August
                                <ul id="August" class="collapse">
                                    <li>
                                        Example
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#September">
                                September
                                <ul id="September" class="collapse">
                                    <li>
                                        Example2
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#October">
                                October
                                <ul id="October" class="collapse">
                                    <li>
                                        Example3
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#November">
                                November
                                <ul id="November" class="collapse">
                                    <li>
                                        Example4
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>