@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/michael-angelo-castro-0030ab14a/">
                    Michael Angelo G. Castro
                </a>
                <br />
                <span class="badge">August-2017 - November-2017</span>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-08-15">
                August 15 2017
                <ul id="2017-08-15" class="collapse">
                    <li>
                        Refactor the AndersonExam
                    </li>
                    <li>
                        Working on Exam module
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-09-28">
                September 28 2017
                <ul id="2017-09-28" class="collapse">
                    <li>
                        Finished the Exam Model
                    </li>
                    <li>
                        Working on Postion Module
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-12">
                October 12 2017
                <ul id="2017-10-12" class="collapse">
                    <li>
                        Finsihed the Position Module
                    </li>
                    <li>
                        Working on Examinee Module
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>