@using AndersonExamModel;
@model Examinee

<div class="form-group" ng-controller="ExamineeController as model" ng-init="model.ReadForPosition()">
    <input type="hidden" name="PositionId" value="{{model.Position.PositionId}}" />
    <label for="Position">Position</label>
    <ui-select ng-model="model.Position">
        <ui-select-match placeholder="Select Position...">
            <span ng-bind="$select.selected.PositionName"></span>
        </ui-select-match>
        <ui-select-choices repeat="position in (model.Positions | filter: $selected.search) track by $index">
            <span ng-bind="position.PositionName"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div class="form-group">
    <label for="ReferenceCode">Reference Code</label>
    <input type="text" class="form-control" id="ReferenceCode" name="ReferenceCode" placeholder="Reference Code" value="@Model.ReferenceCode" required>
</div>
<div class="form-group">
    <label for="Lastname">Last Name</label>
    <input type="text" class="form-control" id="Lastname" name="Lastname" placeholder="Last Name" value="@Model.Lastname" required>
</div>
<div class="form-group">
    <label for="Firstname">First Name</label>
    <input type="text" class="form-control" id="Firstname" name="Firstname" placeholder="First Name" value="@Model.Firstname" required>
</div>
<div class="form-group">
    <label for="Middlename">Middle Name</label>
    <input type="text" class="form-control" id="Middlename" name="Middlename" placeholder="Middle Name" value="@Model.Middlename" required>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>

