@using AndersonExamModel;
@model Examinee

@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-sm-12">
        <form action="~/Examinee/Create" method="post">
            @{
                Html.RenderPartial("_Examinee", Model);
            }
        </form>
    </div>
</div>