@{
    ViewBag.Title = "Index";
}
<h2>List Of Examinee</h2>
<div ng-controller="ExamineeController as model" ng-init="model.Initialise()">
<div class="row">
    <div class="col-sm-1">
        <a href="../Examinee/Create" class="btn btn-default">Create</a>
    </div>
    <div class="col-sm-5 pull-right">
        <div class="input-group">
            <input type="text" class="form-control " placeholder="Search for names.." ng-model="model.ExamineeFilter.Name">
            <span class="input-group-btn">
                <button id="searchLogo" class="btn btn-default" ng-click="model.Rfilter()"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">      
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse" id="mytr">
                        <th>Examinee ID</th>
                        <th>Position ID</th>
                        <th>Reference Code</th>
                        <th>Last Name</th>  
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Percentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="examinee in model.Examinees"|filter:SearchExaminee" ng-click="$event.originalEvent.dropdown || model.TakenExamsPage(examinee.ExamineeId)">
                        <td><span ng-bind="examinee.ExamineeId"></span></td>
                        <td><span ng-bind="examinee.PositionId"></span></td>
                        <td><span ng-bind="examinee.ReferenceCode"></span></td>
                        <td><span ng-bind="examinee.Lastname"></span></td>
                        <td><span ng-bind="examinee.Firstname"></span></td>
                        <td><span ng-bind="examinee.Middlename"></span></td>
                        <td ng-init="model.Percentage(examinee)"><span ng-bind="examinee.Percentage" ></span>%</td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.TakenExamsPage(examinee.ExamineeId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(examinee.ExamineeId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>