@{
    ViewBag.Title = "Index";
}

<div ng-controller="TakenExamController as model" ng-init="model.Initialise(@Model)">
    <div class="row">
        <div class="col-sm-12">
            
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>Percentage</th>
                        <th>Exam Id</th>
                        <th>Examinee Id</th>
                        <th>Score</th>
                        <th>Taken Exam Id</th>
                        <th>Total</th>
                        <th>Time Limit(sec.)</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody ng-repeat="takenExam in model.TakenExams">
                    <tr class="clickableRow">
                        <td><span ng-bind="takenExam.Percentage"></span>%</td>
                        <td><span ng-bind="takenExam.ExamId"></span></td>
                        <td><span ng-bind="takenExam.ExamineeId"></span></td>
                        <td><span ng-bind="takenExam.Score"></span></td>
                        <td><span ng-bind="takenExam.TakenExamId"></span></td>
                        <td><span ng-bind="takenExam.Total"></span></td>
                        <td><span ng-bind="takenExam.Exam.TimeLimit"></span></td>
                        <td><span ng-bind="takenExam.Exam.Name"></span></td>
                        <td><span ng-bind="takenExam.Exam.Description"></span></td>
                    </tr>
                    <tr>
                        <td colspan="10">
                            <table class="table table-hover table-sm table-bordered ">
                                <thead>
                                    <tr class="thead-inverse">
                                        <th>Answer Id</th>
                                        <th>Choice Id</th>
                                        <th>Correct</th>
                                        <th>Answer</th>
                                        <th>Question</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="answer in takenExam.Answers">
                                    <tr class="clickableRow">
                                        <td><span ng-bind="answer.AnswerId"></span></td>
                                        <td><span ng-bind="answer.ChoiceId"></span></td>
                                        <td><span ng-bind="answer.Choice.Correct"></span></td>
                                        <td><span ng-bind="answer.Choice.Description"></span></td>
                                        <td><span ng-bind="answer.Choice.Question.Description"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>